<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to fuelapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="">
      <h2>Fuelapp Search</h2>
    </div>

    <div class="container">
      <form class="" action="" method="">
        <table >
                  <tr>
                      <td><label for="id_product">Product</label></td>
                      <td><input id="id_product" name="Product"
                           type="text" </td>
                  <tr>
                  <tr>
                      <td><label for="id_metroregion">Metro Region</label></td>
                      <td><input id="id_metroregion" name="metroregion"
                                 type="text"></td>
                  </tr>
      </table>
                  <input type="submit" value="Submit"/>


        </form>
    </div>
  </body>
</html>
